<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alex_.proyectointegrador">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Inicio.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.SignOffActivity" />
        <activity android:name=".Login.SignupActivity" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Login.ResetPasswordActivity" />
        <activity android:name=".Perfil.Perfil" />
        <activity
        android:name=".Inicio.ActivityPrinc"
        android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".Inicio.ActivityContactanos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Inicio.ActivityLast"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Inicio.ActivityAyuda"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Inicio.ActivityNosotros"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CrearEventos"
            android:theme="@style/AppTheme.NoActionBar" />
        />
        <activity android:name=".MisEventos"
            android:theme="@style/AppTheme.NoActionBar"
            />

    </application>

</manifest>